POSTGRES_USER=usuario_teste
POSTGRES_PASSWORD=minha_senha
POSTGRES_DB=samsara_db

DATABASE_URL=postgresql://usuario_teste:minha_senha@db:5432/samsara_db

SECRET_KEY=mudar-chave
MAIL_USERNAME=email@profissional
MAIL_PASSWORD=senha-de-app-google
MAIL_DEFAULT_SENDER=