/* Fundo da página */
body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Caixa de login */
.login-container {
    background-color: white;
    padding: 30px;
    width: 300px;

    border: 2px solid #d54e00;
    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    text-align: center;
}

/* Título */
.login-container h2 {
    margin-bottom: 20px;
}

/* Inputs */
.login-container input {
    width: 85%;
    padding: 8px;
    margin-top: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão */
.login-container input[type="submit"] {
    margin-top: 15px;
    background-color: #d54e00;
    color: white;
    border: none;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #ff8e0d;
}

/* Mensagens */
.login-container p {
    font-size: 14px;
}